*,**,::after,::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Red Rose', cursive;

}

/* @media only screen and (min-width:1024px) { */
  /* .barCon{
    position: relative;
  } */
  nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    position: fixed;
    left: 0px;
    top: 0px;
    background: white;
    width: 100%;
    box-sizing: border-box;
    
    }
    .LinksCon{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    padding: 20px 150px 20px 50px;
    background: white;
    width: 100%;
    box-sizing: border-box;

    }
    .Links{
      margin-right: 10px;
    }
    .LinksCon button{
      display: flex;
      justify-content: space-around;
      font-size: 14px;
      border: 1.5px solid #333333;
      border-radius: 5px;
      font-weight: bolder;
      margin-top: 10px;
      text-align: center;
      padding: 5px 15px;
     
    }
    .LinksCon button .vector{
      margin-left: 20px;
    }
    .LinksCon button p{
      font-size:16px;
      line-height:19.2px;
    }

  
    .dropdownCon{
      display:none;
    }
    nav a, .LinksCon a{
      text-decoration: none;
      color: black;
    }
    nav button{
      padding: 10px 20px;
      background: #A02279;
      color: white;
      border-radius: 10px;
      font-size: 16px;
      border: none;
      width: 170px;
    }
    nav button:hover{
      color: #A02279;
      background: white;
      border: 1px solid #A02279;

    }
    .logo{
      width: 233px;
    }
    nav ul, .LinksCon ul{
      display: flex;
      column-gap: 70px;
    }
    nav ul li, .LinksCon ul li{
      list-style: none;
      font-size: 20px;
    }
    .hamburger{
      display: none;
      width: 40px
    }
    .linkButton{
      display: flex;
      column-gap: 130px;
    }
    #navigation-menu{
      display: none;
    }
   
    
    header{
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 200px;
      margin-top: 150px;
    }
    header h1{
      font-weight: 700;
      line-height: 55px;
      width: 100%;
      font-size: 50px;
    }
    header span{
      color: #A02279;
    }
    header p{
      width: 636px;
      font-size: 24px;
      font-weight: 400;
      line-height: 30px;
    }
    header input{
      box-sizing: border-box;
      background: rgba(247, 247, 247, 0.1);
    border: 1px solid #A3A3A3;
    border-radius: 8px 0px 0px 8px;
    padding: 10px 100px 10px 10px;
    font-size: 16px;
    margin-top: 30px;
    outline: none;
    }
    
    .HeadingCon{
      width: 40%;
      margin-top:30px;
    }
    /* .imageCon{
      display: flex;
      column-gap: 20px;
      
    } */
    .headerpic{
      width: 100%;
    }
    .nfts{
      margin: 50px 0;
      display: flex;
      justify-content: space-around;
      background:linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
      padding: 5px;
    }
    .nfts img{
      width: 148px;
    }
    
    header button{
      color: white;
      background:#A02279 ;
      font-size: 16px;
      padding:11px 100px;
      border: none;
      background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.46%);
      border-radius: 0px 8px 8px 0px; 
    }
    #placesCon{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-content: space-between;
      box-sizing: border-box;
      margin: 50px; 
    }
    
    .mainpicText{
      width: 95%;
      border: 1px solid #D7D7D7;
      border-radius: 15px;
      box-sizing: border-box;
      padding: 10px;
      margin: 40px 0px 0px 10px;
    }
    .mainpicText .mainimage{
      width: 100%;
    }
    .mainwords1{
      display: flex;
      justify-content: space-between;
     
    }
    .mainwords1 p{
      width: 100%;
    }
   
    .star img{
      margin: 5px;
    }
    .frameCon{
      color: white;
      display: flex;
     padding: 100px;
      background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.46%);
    }
    .frameCon img{
      width: 150%;
    }
    .frame1{
      margin-top: 30px;
    }
    .mainHeading{
    font-size: 48px;
    line-height: 50px;
    text-align:center;
   }
   .frameCon div{
    width: 40%;
   }
    .frameCon p{
      width:90%;
      font-size: 18px;
      line-height: 30px;
    }
    .frameCon button{
      padding: 10px 30px;
      color:#A02279;
      margin: 40px 0px;
      border-radius: 8px;
      border: none;
      line-height: 19px;
      font-size: 16px;
    }
    .frame1{
      margin-top:70px;
    }
    footer{
     padding: 80px;
      background: black;
      color: white;
    }
    .footerCon{
      display: flex;
      justify-content: space-around;
    }
    footer a{
      text-decoration: none;
      color: white;
    }
    .copyright{
      margin-left: 100px;
    }
  .socials img{
    margin-right: 20px;
  }
  .footerlinks{
    display: flex;
    column-gap: 100px;
  }
  .footersocials img{
    margin-bottom: 80px;
  }
 

@media only screen and (max-width:1024px){
  /* #NavlinkResp{
    position: relative;
  } */
  #navigation-menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #FFFFFF;
    border-radius: 16px;
    position: absolute;
    width: 100%;
    height: 390px;
    left: 0px;
    top: 75px;
  }
  .linkButton{
    display: none;
  }
 
.Navclose{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 32px;
}

#navigation-menu ul{
display: block;
background: #FFFFFF;
border-radius: 16px;

}
#navigation-menu ul li{
    display: block;
    margin: 25px;
}
#navigation-menu ul li:hover{
    background-color: white;
    color:#A02279;
}

#navigation-menu button:hover{
  color: white;
  background-color:#A02279;
}
  
  .hamburger{
    display: block;
    font-size: 30px;
    top: 20px;
    right: 20px;
    position: absolute;
    cursor: pointer;
  
  }
  .hamburger:hover{
    background: #CFD8DC;
    padding: 5px;
    border-radius: 10px;
  }
  .copyright{
    margin-left: 50px;
  }
  header p{
    width: 356px;
  }
  .HeadingCon{
    width: 60%;
    margin-top:30px;
  }
  header{
    box-sizing: border-box;
    width: 100%;
    gap: 80px;
    padding-left: 20px;
    padding-right: 20px;
  }
  header input{
  padding: 10px;
  
  }
  header button{
    padding:11px 20px;
  }
  #placesCon{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

}

@media only screen and (max-width:768px){
  nav{
    padding: 20px;
    }
  nav button{
   margin-left: 30px;
  }
  .Links{
    display: none;
  }
  
  .LinksCon{
    margin-top: 100px;
    padding: 20px;
    background: white;
    width: 100%;
    box-sizing: border-box;

    }
    .LinksCon button{
      margin-top: 0px;
    }
  .dropdownCon{
    display:block;
    align-items: flex-start;
    background: #FFFFFF;
    border-radius: 16px;
    color: black;
    /* width: 100%; */
    
  }
  .dropdownCon select{
    margin-top: 5px;
    padding: 10px ;
    outline: none;
    border-radius: 5px;

  }
  header{
    display: block;

    
  }
  .HeadingCon{
    width: 100%;
    margin-top:30px;
  }
  header h1{
    line-height: 55px;
    font-size: 45px;
  }
  
  header p{
    width: 100%;
    font-size: 18px;
  }
  .headerpic{
    box-sizing: border-box;
    width: 50%;
    margin: 40px 0px 40px 40px;
  }
  .nfts{
    display: flex;
    flex-direction: column;
    padding: 30px;
  }
  #placesCon{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-between;
    box-sizing: border-box;
    margin: 50px; 
  }
  .frameCon{
    display: block;
}
.frameCon img{
  width: 100%;
}
.frameCon div{
  width: 100%;
 }
 .frameCon h3{
  margin-top: 20px;
 }
.footerCon{
  display: block;
}
.footersocials img{
  margin: 30px 10px;
}
.copyright{
  margin-left:0px;
}

.mainHeading{
  font-size: 40px;
  line-height: 40px;
  text-align:center;
 }
 .copyright{
  margin-top: 50px;
}
}